<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static '/core/css/index.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pagetitle%} {% endblock%}</title>

</head>
<body>
    <H1>Django</H1> 
    <H2>Maria Jose</H2>
    <ul>
        <li>><a href="{% url 'home' %}">Home</a></li>
        <li>><a href="{% url 'about' %}">about me</a></li>
        <li>><a href="{% url 'contact' %}">contact me</a></li>
        <li>><a href="{% url 'portfolio' %}">portafolio</a></li>
        <li>><a href="{% url 'person' %}">person</a></li>
        <li>><a href="{% url 'addproject' %}">addperson</a></li>
     </ul> 
     {% block content%} {% endblock%}
<!--imagen base -->
     <img src="{% static 'core/img/logo.png'%} " alt="Logo">  
     <script src="{% static 'core/js/index.js'%}"></script>
</body>
</html>